.site-calendar-customize-header-wrapper {
	width: 250px;
}

.ant-picker-calendar {
	font-size: 11px;
	font-weight: 500;
}

.ant-picker-date-panel .ant-picker-content th {
	width: 20px;
}

.calendar-container {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	height: 100%;
	gap: 15px;
}

.calendar-container .ant-dropdown-menu-title-content {
	display: flex !important;
	justify-content: space-around !important;
}

.calendar-container .rbc-btn-group {
	border: unset;
	background-color: #f8f9fe;
	color: #101928;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 2px 4px 0 hsl(0deg 0% 88% / 50%);
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
	border: unset;
	background-color: #101928;
	color: #f8f9fe;
	border-radius: 8px;
}

.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
	color: #f8f9fe;
	background-color: #101928;
	border-color: #101928;
}

.calendar-container .rbc-btn-group button {
	border: unset;
	border-radius: 8px;
	padding-inline: 15px;
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
	border-radius: 8px;
}
.rbc-calendar {
	height: 580px;
	flex: 1 1;
	max-width: 95%;
}

.rbc-toolbar {
	font-size: 14px;
	text-transform: capitalize;
}

.rbc-date-cell.rbc-current > .rbc-button-link {
	color: rgb(24, 144, 255);
	font-weight: bold;
	text-decoration: underline;
}

.rbc-off-range-bg {
	background: #e6e6e6;
		background-image: none;
		background-size: auto;
		opacity: 0.8;
		background-size: 8px 8px;
		background-image: repeating-linear-gradient(45deg, #ffffffc8 0, #ffffffcd 0.8px, #4f4f5038 0, #1f1f2233 50%);
}

.rbc-today {
	background-color: var(--primary-100);
}
.rbc-date-cell.rbc-current>.rbc-button-link {
	color: var(--primary-500);
	font-weight: 800;
	text-decoration: underline;
}
.rbc-current-time-indicator {
	background-color: var(--primary-500);
	height: 2px;
	&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 12px;
			height: 12px;
			background-color: inherit;
			border-radius: 50%;
		}
}

.separator_calendar-admin{
	position: relative;
	margin-right: 30px;
}

.vertical {
	position: absolute;
	display: table;
	text-align: center;
	height: 100%;
}
.center-element {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}
.vertical .center-element:before,
.vertical .center-element:after {
	position: absolute;
	content: '';
	width: 0.5px;
	left: 50%;
	border-left: 1px solid rgba(153, 153, 153, 0.33);
}
.vertical .center-element:before {
	bottom: 50%;
	top: 0;
	margin-bottom: 20px;
}
.vertical .center-element:after {
	top: 50%;
	bottom: 0;
	margin-top: 20px;
}

@media (max-width: 767px) {
	.site-calendar-customize-header-wrapper {
		flex-grow: 10;
	}
	.separator_calendar-admin{
		display: none;
	}
}
.rbc-allday-cell {
	display: none;
}
.rbc-time-view .rbc-header {
	border-bottom: none;
}
@media (max-width: 350px) {
	.site-calendar-customize-header-wrapper {
		flex-grow: 10;
	}
	.separator_calendar-admin{
		display: none;
	}
}
